@font-face {
    font-family: "SegoeUI";
    src: url(https://i.s-microsoft.com/fonts/Segoe-UI/Cyrillic/Normal/latest.woff) format("truetype");
}

body {
    font-family: "SegoeUI", Arial, SansSerif, sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #404040;
    padding-top: 20px;
    height: 2000px;
}

body.no-scroll {
    //overflow-y: hidden;
}

input {
    min-height: 32px;
    width: 280px;
    padding-left: 8px;
    padding-right: 27px;
    position: relative;
    border: none;
    border-radius: 1px;
    font-size: 14px;
    font-weight: 100;
    box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.15), 0 0 0 1px rgba(0, 0, 0, 0.15), inset 0 1px 0 0 rgba(0, 0, 0, 0.05);
}

.input-wrapper.error .error-helper {
    display: block;
    color: red;
}

.input-wrapper.error input {
    border: 2px solid red;
    box-shadow: none;
}

input:focus {
    opacity: 0.8;
}

ul {
    margin: 0;
    padding-left: 0;
    text-align: left;
}

ul li {
    padding: 5px 8px;
    list-style: none;
    line-height: 22px;
}

ul li:hover,
ul li.focused{
    color: #fff;
    background: #5199DB;
}

input:focus {
    outline: none;
    box-shadow: 0 0 0 2px #5199db, inset 0 1px 0 0 rgba(0, 0, 0, 0.05);
}

.App {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.error-helper {
    display: none;
}

.select {
    display: flex;
    flex-direction: column;
}

.autocomplete {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 500px;
}

.select__menu {
    position: absolute;
    top: 35px;
    width: 357px;
    /*min-height: 200px;*/
    max-height: 450px;
    background: #FFFFFF;
    box-shadow: 0 0 0 1px rgba(0,0,0,0.1), 0 3px 10px 0 rgba(0,0,0,0.2);
    overflow: auto;
}

.select__menu.top {
    top: auto;
    bottom: 35px;
}

.input-wrapper {
    position: relative;
}

.select__toggle {
    position: absolute;
    top: 10px;
    right: 5px;
    border: none;
    background: none;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


.select__toggle svg {
    width: 10px;
    height: 10px;
    fill: grey;
}

.input-wrapper__state {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    width: 25px;
    height: 100%;
}

.input-wrapper__state .loader {
    display: none;
}

.input-wrapper__state.preload .select__toggle {
    display: none;
}

.input-wrapper__state.preload .loader {
    display: block;
    width: 12px;
    height: 12px;
    border: 2px solid grey;
    border-top: 2px solid transparent;
}