@font-face {
    font-family: "SegoeUI";
    src: url(https://i.s-microsoft.com/fonts/Segoe-UI/Cyrillic/Normal/latest.woff) format("truetype");
}

body {
    font-family: "SegoeUI", Verdana, Tahoma, sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #404040;
    padding-top: 20px;
}

input {
    min-height: 32px;
    min-width: 280px;
    padding-left: 8px;
    padding-right: 27px;
    position: relative;
    border: none;
    border-radius: 1px;
    font-size: 14px;
    font-weight: 100;
    box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.15), 0 0 0 1px rgba(0, 0, 0, 0.15), inset 0 1px 0 0 rgba(0, 0, 0, 0.05);
}

input:focus {
    outline: none;
    box-shadow: 0 0 0 2px #5199db, inset 0 1px 0 0 rgba(0, 0, 0, 0.05);
}

.App {
    text-align: center;
}
