@font-face {
    font-family: "SegoeUI";
    src: url(https://i.s-microsoft.com/fonts/Segoe-UI/Cyrillic/Normal/latest.woff) format("truetype");
}

body {
    font-family: "SegoeUI", Arial, SansSerif, sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #404040;
    padding-top: 20px;
}

input {
    min-height: 32px;
    width: 280px;
    padding-left: 8px;
    padding-right: 8px;
    position: relative;
    border: none;
    border-radius: 1px;
    font-size: 14px;
    font-weight: 100;
    box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.15), 0 0 0 1px rgba(0, 0, 0, 0.15), inset 0 1px 0 0 rgba(0, 0, 0, 0.05);
}

input:hover {
    box-shadow: 0 -1px 0 0 #969696, 0 0 0 1px rgba(0, 0, 0, 0.15), inset 0 1px 0 0 rgba(0, 0, 0, 0.05);
}

input:focus {
    opacity: 0.8;
    outline: none;
    box-shadow: 0 0 0 2px #5199db, inset 0 1px 0 0 rgba(0, 0, 0, 0.05);
}

.input-wrapper.error .input-box__error-message {
    display: block;
    color: #da0c09;
}

.input-wrapper.error input {
    box-shadow: 0 0 0 2px #da0c09;
}

ul {
    margin: 0;
    padding-left: 0;
    text-align: left;
}

ul li {
    padding: 5px 8px;
    list-style: none;
    line-height: 22px;
}

ul li:hover,
ul li.focused {
    color: #fff;
    background: #5199DB;
}

ul li.error:hover {
    color: initial;
    background: none;
}


.App {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.autocomplete {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 500px;
}

.autocomplete input {
    padding-right: 27px;
}

.autocomplete__input-wrapper {
    position: relative;
}


.input-box__error-message {
    display: none;
}

.select {
    display: flex;
    flex-direction: column;
}

.controls__toggle {
    position: absolute;
    top: 10px;
    right: 5px;
    border: none;
    background: none;
}

.controls__toggle:focus {
    outline: none;
}

.controls__loader {
    display: none;
    width: 12px;
    height: 12px;
    border: 2px solid grey;
    border-radius: 50%;
    border-top: 2px solid transparent;
    animation: spin 2s linear infinite;
}

.list-wrapper {
    position: absolute;
    top: 37px;
    width: 357px;
    /*min-height: 200px;*/
    max-height: 450px;
    background: #FFFFFF;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.2);
    overflow: auto;
}

.list-wrapper.top {
    top: auto;
    bottom: 37px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.controls__toggle svg {
    width: 10px;
    height: 10px;
    fill: grey;
}

.input-wrapper__controls {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    width: 25px;
    height: 35px;
}

.input-wrapper__controls.preload .controls__toggle {
    display: none;
}

.input-wrapper__controls.preload .controls__loader {
    display: block;
}