@font-face {
    font-family: "SegoeUI";
    src: url(https://i.s-microsoft.com/fonts/Segoe-UI/Cyrillic/Normal/latest.woff) format("truetype");
}

body {
    font-family: "SegoeUI", Verdana, Tahoma, sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #404040;
    padding-top: 20px;
}

input {
    min-height: 32px;
    width: 280px;
    padding-left: 8px;
    padding-right: 27px;
    position: relative;
    border: none;
    border-radius: 1px;
    font-size: 14px;
    font-weight: 100;
    box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.15), 0 0 0 1px rgba(0, 0, 0, 0.15), inset 0 1px 0 0 rgba(0, 0, 0, 0.05);
}

ul {
    margin: 0;
    padding-left: 0;
    text-align: left;
}

ul li {
    padding: 5px 8px;
    list-style: none;
    line-height: 22px;
}

ul li:hover {
    color: #fff;
    background: #5199DB;
}

input:focus {
    outline: none;
    box-shadow: 0 0 0 2px #5199db, inset 0 1px 0 0 rgba(0, 0, 0, 0.05);
}

.App {
    display: flex;
    justify-content: center;
    text-align: center;
}

.select {
    display: flex;
    flex-direction: column;
}

.autocomplete {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.select__menu {
    width: 357px;
    max-height: 500px;
    background: #FFFFFF;
    box-shadow: 0 0 0 1px rgba(0,0,0,0.1), 0 3px 10px 0 rgba(0,0,0,0.2);
    overflow: auto;
}

.image {
    fill: red;
    stroke: red;
    width: 15px;
    height: 15px;
}

.input-wrapper {
    position: relative;
}

.select__toggle {
    position: absolute;
    top: 10px;
    right: 5px;
    border: none;
    background: none;
}

.select__toggle svg {
    width: 10px;
    height: 10px;
    fill: grey;
}
